@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
  margin: 0%;
  padding: 0%;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 2%;
}

nav ul {
  list-style: none;
  display: flex;
}
#first-list {
  width: 60%;
  margin-left: 10%;
}
#first-list li {
  margin-left: 5%;
  font-weight: 700;
}
#second-list {
  width: 40%;
}
#second-list li {
  margin-left: 10%;
  font-weight: 700;
}
#second-list #sign-btn {
  margin-top: -2%;
  text-align: center;
  padding: 10px 20px;
  background-color: hsl(180, 66%, 49%);
  border-radius: 30px;
  
}
#second-list #sign-btn:hover {
  opacity: .7;
  cursor: pointer;
}
#second-list #sign-btn a {
  color: #ffffff;
  font-weight: 500;
}
nav ul li a {
  text-decoration: none;
  color: hsl(257, 7%, 63%);
}
nav ul li a:hover {
  color: hsl(255, 11%, 22%);
}
.wrapper {
  overflow-x : hidden;
}
.wrapper .hero-sec {
  display: flex;
  width: 100%;
  margin: 5% 10% auto 10%;
}
.wrapper .hero-sec .text-sec {
  margin-right: 10%;
  
}
.wrapper .hero-sec .text-sec h1 {
  font-size: 4vw;
  font-weight: bolder;
  margin-top: 15%;
  color:  hsl(260, 8%, 14%);
}
.wrapper .hero-sec .text-sec p {
  color: hsl(257, 7%, 63%);
  font-weight: 500;
}
.wrapper .hero-sec .text-sec button {
  text-align: center;
  padding: 10px 20px;
  background-color: hsl(180, 66%, 49%);
  border-radius: 30px;
  border: none;
  margin-top: 5%;
  color: #ffffff;
  font-weight: 500; 
}
.wrapper .hero-sec .text-sec button:hover {
  opacity: .7;
  cursor: pointer;
}

.wrapper .input-sec {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: 100%;
}
.wrapper .input-sec .input-area {
  width: 100%;
  margin: auto 20%;
}
.wrapper .input-sec .input-area form {
  background: url('images/bg-shorten-desktop.svg');
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
}
.wrapper .input-sec .input-area form input {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  margin-right: 2%;
}
.wrapper .input-sec .input-area form input:focus {
  outline-color: hsl(0, 87%, 67%);
  outline-width: 3px;
  outline-style: solid;
}
.wrapper .input-sec .input-area form button {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: hsl(180, 66%, 49%);
  color: #ffffff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.wrapper .input-sec .input-area form button:hover {
  opacity: 0.9;
}
.wrapper .input-sec .list-area {
  width: 80%;
  margin: auto 10%;
}
.wrapper .input-sec .list-area ul {
  list-style: none;
  width: 70%;
  margin: 2% 15% auto 13%;
}
.wrapper .input-sec .list-area ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  background-color: antiquewhite;
  padding: 13px;
}
.wrapper .input-sec .list-area ul li .short-link {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.wrapper .input-sec .list-area ul li .short-link a {
  color: hsl(180, 66%, 49%);
}
.wrapper .input-sec .list-area ul li .short-link button {
  background-color: hsl(180, 66%, 49%);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.wrapper .input-sec .list-area ul li .short-link button.active {
  background-color: hsl(260, 8%, 14%)
}
.card-area {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.card-area .card-area-head-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-area .card-area-head-text h1 {
  color: hsl(255, 11%, 22%);
}
.card-area .card-area-head-text p {
  text-align: center;
  color: hsl(257, 7%, 63%);
  font-size: 15px;
  margin-top: 1%;
  font-weight: bold;
}
.card-area .cards {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.card-area .cards .card-1,.card-2,.card-3 {
  width: 20%;
  text-align: left;
  padding: 10px 20px;
  margin: 0% 1%;
  height: 40vh;
  position: relative;
}
.card-area .cards .card-1 img,.card-2 img,.card-3 img {
  padding: 15px;
  background-color: hsl(260, 8%, 14%);
  border-radius: 50%;
  z-index: 1111;
  position: absolute;
  left: 15%;
}
.card-area .cards .card-1 h1,.card-2 h1,.card-3 h1 {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 5%;
}
.card-area .cards .card-1 p,.card-2 p,.card-3 p {
  color: hsl(257, 7%, 63%);
  font-weight: 500;
  margin-top: 5%;
}
.card-area .cards .card-2 {
  margin-top: 3%;
}
.card-area .cards .card-3 {
  margin-top: 6%;
}
.card-area .cards .card-1 .card-text,.card-2 .card-text,.card-3 .card-text {
  position: absolute;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
  top: 15%;
  padding: 50px 20px 20px 20px;
  z-index: 0;
}
.bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  background: url(images/bg-boost-desktop.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  
}
.bottom-text h1 {
  margin-top: 4%;
}
.bottom-text button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: hsl(180, 66%, 49%);
  font-weight: 500;
  color: #ffffff;
  margin-top: 1%;
  cursor: pointer;
}
.bottom-text button:hover {
  opacity: 0.9;
}
footer {
  display: flex;
  background-color: hsl(260, 8%, 14%);
  height: 40vh;
}
footer .logo-img {
  margin: 5% 5% auto 10%;
}
footer .link-list {
  margin: 5% 5% auto 10%;
  display: flex;
  color: #ffffff;
  justify-content: center;
  width: 40%;
  height: 10vh;
}
footer .link-list ul {
  margin: auto 5%;
  list-style: none;
}
footer .link-list ul h3 {
  font-size: 20px;
  margin-bottom: 25%;
}
footer .link-list ul li {
  font-size: 15px;
  cursor: pointer;
}
footer .link-list ul li:hover {
  color: hsl(180, 66%, 49%);
}
footer .social-connect {
  margin-top: 5%; 
}
footer .social-connect ul {
  display: flex;
  list-style: none;
}
footer .social-connect ul li {
  margin: auto 15%;
}
footer .social-connect ul li:hover {
  cursor: pointer;
}

@media only screen and (max-width:1100px){
  .wrapper .hero-sec {
    margin: 5% 10% auto 10%;
  }
  .wrapper .hero-sec .text-sec {
    margin-right: 12%;
    width: 30%;
  }
  .wrapper .hero-sec .text-sec h1 {
    font-size: 3vw;
  }
  .wrapper .hero-sec .img-sec {
    width: 40%;
  }
  .wrapper .hero-sec .img-sec img {
    max-width: 100%;
  }
  .wrapper .input-sec .input-area {
    width: 80%;
    margin: auto 10%;
  }
  .wrapper .input-sec .input-area form input {
    width: 70%;
  }
  .wrapper .input-sec .list-area ul {
    width: 100%;
    margin: 2% 0% auto 3%;
  }
  .card-area .cards .card-1 .card-text,.card-2 .card-text,.card-3 .card-text {
    top: 10%;
  }
  .bottom-text {
    height: 15vh;
    
  }
  footer {
    height: 20vh;
  }
  footer .link-list {
    width: 30%;
    margin: 5% 10% auto 5%;
  }
  footer .link-list ul li {
    margin-bottom: 7%;
  }
}
@media only screen and (max-width:800px) {
  #first-list {
    margin-left: 5%;
  }
  #first-list li {
    margin-left: 5%;
    font-size: 15px;
  }
  #first-list li img {
    width: 80%;
  }
  #second-list {
    margin-left: 10%;
  }
  #second-list li {
    font-size: 15px;
  }
  #second-list #sign-btn {
    padding: 5px 10px;
    font-size: 15px;
  }
  .wrapper .input-sec .input-area form button {
    padding: 10px 15px;
  }
  footer .social-connect ul li {
    margin: auto 5%;
  }
}